* {
  margin: 0;
  padding: 0;
}
header {
  background-color: rgb(8, 12, 19);
}
.brand {
  color: #ffff;
  font-family: sans-serif;
  font-size: 1.7rem;
  font-weight: 600;
}
.product-list-im {
  width: 60px;
  height: 60px;
}
.bxContainer {
  background-color: whitesmoke;
  padding: 5px;
  margin-bottom: 10px;
}
