<section>
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h2>Create an Account</h2>
                <div>
                    <form action="/signup" method="post">
                        <p>Username</p>
                        <input type="text" placeholder="Enter your Username" name="Username" class="form-control">
                        <p>Email</p>
                        <input class="form-control" type="text" placeholder="Enter your Email" name="Email">
                        <p>Password</p>
                        <input class="form-control" type="password" placeholder="Enter your password" name="Password">
                        <button type="submit" class="btn btn-primary mt-4 ml-auto">Submit</button>
                    </form>
                    <a class="mt-2 " href="/login">Already have an Account?</a>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</section>